.titleOurProducts {
  color: white;
  text-align: center;
}

.divOurProducts {
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  color: white;
}

.divOurProducts svg {
  font-size: 100px;
  padding: 25px;
}

.border-rounded {
  padding: 5vh;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: 3px solid white;
  cursor: pointer;
  padding-right: 0;
  padding-left: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin-bottom: 0vh;
}

.plusSignal{
  margin-top: 0;
}

.description{
  display: none;
}

h3{
  white-space: nowrap;
}

@media (max-width: 767px) {
  .border-rounded {
    width: 80vw;
    height: 45vh;
   
  }
}

@media (min-width: 768px) {
  .border-rounded {
    width: 30vw;
    height: 40vh;
  }
}